{% extends "index.html" %}

{% block content %}


{% set entries = craft.entries.section('ourProducts') %}

<div class="productList">
    {% for entry in entries %}
        <a class="productItem" href="{{siteUrl}}our-products/{{entry.slug}}">
            {{ entry.productName }}  |   {{ entry.productAbv }}
        </a>
    {% endfor %}
</div>


{% endblock %}
