{% extends "index.html" %}

{% block content %}

{% macro errorList(errors) %}
    {% if errors %}
        <ul class="errors">
            {% for error in errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endmacro %}

{% from _self import errorList %}
<h1 class="text-4xl text-black font-display my-4">{{entry.richTextTitle}}</h1>
<form method="post" action="" accept-charset="UTF-8">
    {{ csrfInput() }}
    <input type="hidden" name="action" value="contact-form/send">
    {{ redirectInput('/thanks') }}

    <p><label for="from-name">Your Name</label></p>
    <input id="from-name" type="text" name="fromName" value="{{ message.fromName ?? '' }}">
    {{ message is defined and message ? errorList(message.getErrors('fromName')) }}

    <p><label for="from-email">Your Email Address</label></p>
    <input id="from-email" type="email" name="fromEmail" value="{{ message.fromEmail ?? '' }}">
    {{ message is defined and message ? errorList(message.getErrors('fromEmail')) }}

    <p>What are you contacting us about?</p>
    <div>
        <label><input type="radio" name="subject" value="{{ message.subject ?? 'Product Information' }}">Product Information</label>
        {{ message is defined and message ? errorList(message.getErrors('subject')) }}
        <label><input type="radio" name="subject" value="{{ message.subject ?? 'Customer Care Enquiries' }}">Customer Care Enquiries</label>
        {{ message is defined and message ? errorList(message.getErrors('subject')) }}
        <label><input type="radio" name="subject" value="{{ message.subject ?? 'Licenses and Branding' }}">Licenses and Branding</label>
        {{ message is defined and message ? errorList(message.getErrors('subject')) }}
        <label><input type="radio" name="subject" checked value="{{ message.subject ?? 'General' }}">General</label>
        {{ message is defined and message ? errorList(message.getErrors('subject')) }}
    </div>


    <!-- <input id="subject" type="text" name="subject" value="{{ message.subject ?? '' }}"> -->

    <p><label for="message">Message</label></p>
    <textarea rows="10" cols="40" id="message" name="message">{{ message.message ?? '' }}</textarea>
    {{ message is defined and message ? errorList(message.getErrors('message')) }}

    <input type="submit" value="Send">
</form>

{{entry.richTextContent}}


{% endblock %}