body{
    background-color: #f2f3fe;
    color: black;
    margin: 0 auto;
    text-align: center;
    padding-top: 40px;
    margin-bottom: 150px;
}

.footer {
    position: fixed;
    width: 100%;
    height: 150px;
    background-color: rgb(17, 15, 15);
    color: white;

    clear: both; 
    bottom: 0;
    z-index: 1; 
    height: -3em;
 }

.footerContent{
    text-align: left;
    padding: 30px 15%;
}


.nav {
    border-bottom: 1px solid #EAEAEB;
    text-align: right;
    justify-content: center;
    position: absolute;
    right: 2vw;
    height: 70px;
    width: 95vw;
    line-height: 70px;
}

.menu a {
    clear: right;
    text-decoration: none;
    color: gray;
    margin: 0 10px;
    line-height: 70px;
}

#navLabel {
    font-size: 26px;
    line-height: 70px;
    display: none;
    width: 26px;
    float: right;
}
#toggle {
    display: none;
}

.pageContent {
    margin: 80px auto;
    padding: 10px 20px;
    max-width: 1920px;
}

.contactForm {
    text-align: left;
}

.contactTitle{
    text-align: left;
}

@media only screen and (max-width: 500px) {
    #navLabel {
        display: block;
        cursor: pointer;
    }
    .menu {
        text-align: center;
        width: 100%;
        display: none;
        position: relative;
        z-index: 5;
        background-color: black;
    }
    .menu a {
        display: block;
        border-bottom: 1px solid #EAEAEB;
        margin: 0;
     
    }
    #toggle:checked + .menu {
        display: block;
    }
    .nav{
        justify-content:flex-end;
    }
    .header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 21px;
    }
    .pageContent {
        margin: 30px 20px;
        padding: 0;
    }
}

