{% extends "index.html" %}

{% block content %}


{% set allSentries = craft.entries.section({
    section: 'stockists',
    postcode: 'EH1131AB'
    })
%}

{% set results = craft.entries()
    .search('Papa')
    .all() 
%}

<div class="productList">

    <form sprig>
        <input type="search" name="q" aria-label="NameSearch" placeholder="Business Name">
    
        <input type="search" name="loc" aria-label="LocationSearch" placeholder="Location">
        <button type="submit">Go</button>
    </form>
    

    {% set searchQuery1 = craft.app.request.getParam('q') %}
    {% set searchQuery2 = craft.app.request.getParam('loc') %}
    
    {% set entries = craft.entries({section:'stockists'})
    .search(searchQuery1)
    .orderBy('score')
    .all() 
    %}


    {% if entries|length %}
        <p>{{ entries|length }} results:</p>

            {% for entry in entries %}
            <div>
                <a href="{{ entry.url }}">
                    {{ entry.title }}
                    {{ entry.fulladdress }}
                </a>
                    <p>Stocks our products:</p>
                    {% for product in entry.productsList %}
                        <p>{{product.productName}}</p>
                    {% endfor %}
            </div>

            {% endfor %}

    {% else %}
        <p>Your search for “{{ searchQuery1 }}” didn’t return any results.</p>
    {% endif %}


</div>


{% endblock %}
