{% extends "index.html" %}

{% block content %}


<div class="productInfo">

    <div class="productGeneralInfo">
        <h3>{{entry.businessName}}</h3>
        <p>Stocks our products:</p>
            {% for product in entry.productsList %}
                <a href="{{ product.url}}">
                    {{product.productName}}
                </a>
            {% endfor %}
        <h3>Address:</h3>
        <h5>{{entry.fulladdress}}</h5>
        
        <div class="map">

            {{ craft.maps.embed({
                center: [entry.latitude, entry.longitude],
                markers: [[entry.latitude, entry.longitude]]
            }) }}
        </div>
        
    </div>

</div>


{% endblock %}
